*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#050505;
font-family:Arial,sans-serif;
}

.hero-container{
position:relative;
width:100%;
max-width:1400px;
margin:auto;
}

.hero-image{
width:100%;
display:block;
}

/* HOTSPOTS */

.hotspot{
position:absolute;
cursor:pointer;
border-radius:20px;
transition:.25s;
}

/* GLOW EFFECT */

.hotspot:hover{
box-shadow:
0 0 15px #ffcc00,
0 0 25px #ff3300;
}

/* CHECK ENGINE */

.engine{
top:46%;
left:7%;
width:19%;
height:13%;
}

/* OIL */

.oil{
top:46%;
left:30%;
width:19%;
height:13%;
}

/* BATTERY */

.battery{
top:46%;
left:52%;
width:19%;
height:13%;
}

/* TEMP */

.temp{
top:46%;
left:74%;
width:19%;
height:13%;
}

/* RESPONSE BOX */

.response-box{

position:absolute;

top:67%;
left:28%;

width:44%;
height:17%;

padding:20px;

color:white;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;

}

.response-box h2{
color:#ff3300;
margin-bottom:10px;
font-size:clamp(18px,2vw,34px);
}

.response-box p{
font-size:clamp(12px,1vw,18px);
line-height:1.4;
max-width:90%;
}

/* MOBILE */

@media(max-width:768px){

.response-box{
top:66%;
left:26%;
width:48%;
height:18%;
padding:10px;
}

.response-box h2{
font-size:14px;
}

.response-box p{
font-size:10px;
}

}
